.mobile{display: none;}
@media screen and (max-width: 767px) {
    .mobile {
        display: block;
        
    }

    .mmenu{background-color:lightblue
    }
    
    
    
    .slider .right   {margin-left: 345px !important
    }
    .mmenu .logo{height:70px; 
    }
    .mmenu .bars{height: 50px; margin-top:5px 
    }
    .cus-container{width: 100%
    }
    .content .cus-container .text{height: auto;
                                  width: 100%;
    }
    .content .content-img{height: auto !important;
                          width: 100% !important;
    }
    .mmenu li .dropdown-toggle{border-top: 2px yellow solid;
                               color: white !important;
    }
    .mmenu li a{ font-family: 'Courier New', Courier, monospace; 
                 font-size: 30px;
    }
    /* .mmenu li .dropdown-toggle :hover{ background-color:lightblue !important;
    }            */
                
    
    .footer{margin-top: 1300px}
    
    .footer .cus-container .main h1 { padding-left:25px !important;
                                      
    }
    .social .icon2 .icon3{padding-left:20px
    }
    .footer .social i{margin: 0px !important
    }
    .cus-container{width: 100%; display: block;
    }
    .content .cus-container .top img .text {margin:1000px
    }



    .desktop {
        display: none;
    }
    

}
